
@model OnlineShoppingStore.WebUI.Models.ProductsListViewModel
@using OnlineShoppingStore.WebUI.HTMLHelpers

@{
    ViewBag.Title = "Products";
}

@foreach(var p in Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        <h4>@p.price.ToString("c")</h4>
        @p.Description
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List",new { page=x} ))</div>

